In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('crash_rates.csv')
#adjusting settings so that we can see all of the cvolumns.
pd.set_option('display.max_columns', None)

C:\Users\ozbun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#Initial data inspection
df.head()

,borough,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,cross_street_name,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,off_street_name,on_street_name,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,zip_code
0,BRONX,Unspecified,Unspecified,NaN,NaN,NaN,EAST 156 STREET,1/16/2014 23:30,40.814934,-73.897645,"(40.8149337, -73.8976455)",0,0,2,0,1,0,3,0.0,NaN,SOUTHERN BOULEVARD,78403,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN,10455.0
1,BROOKLYN,Unspecified,Unspecified,NaN,NaN,NaN,CLASSON AVENUE,8/13/2013 6:50,40.694012,-73.961094,"(40.6940116, -73.9610935)",0,0,0,0,1,0,1,0.0,NaN,MYRTLE AVENUE,193101,PASSENGER VEHICLE,PEDICAB,NaN,NaN,NaN,11205.0
2,BROOKLYN,Unspecified,Unspecified,NaN,NaN,NaN,VANDERBILT AVENUE,7/6/2013 21:25,40.689469,-73.969105,"(40.6894687, -73.9691048)",0,0,0,0,1,0,1,0.0,NaN,DE KALB AVENUE,192934,PASSENGER VEHICLE,SCOOTER,NaN,NaN,NaN,11205.0
3,QUEENS,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,NaN,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,1,0,1,0.0,66-08 BEACH CHANNEL DRIVE,NaN,4109774,Sedan,Truck,NaN,NaN,NaN,11692.0
4,MANHATTAN,Alcohol Involvement,Unspecified,NaN,NaN,NaN,7 AVENUE SOUTH,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,2,0,2,0.0,NaN,CHRISTOPHER STREET,10452,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN,10014.0

In [4]:
#Looking at data types, most of which are objects
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90071 entries, 0 to 90070
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   borough                        72697 non-null  object
 1   contributing_factor_vehicle_1  87481 non-null  object
 2   contributing_factor_vehicle_2  3319 non-null   object
 3   contributing_factor_vehicle_3  833 non-null    object
 4   contributing_factor_vehicle_4  281 non-null    object
 5   contributing_factor_vehicle_5  110 non-null    object
 6   cross_street_name              69278 non-null  object
 7   timestamp                      90071 non-null  object
 8   latitude                       83264 non-null  float64
 9   longitude                      83264 non-null  float64
 10  location                       83264 non-null  object
 11  number_of_cyclist_injured      90071 non-null  int64
 12  number_of_cyclist_killed       90071 non-null  int64
 13  number_of_motorist_injured     90071 non-null  int64
 14  number_of_motorist_killed      90071 non-null  int64
 15  number_of_pedestrians_injured  90071 non-null  int64
 16  number_of_pedestrians_killed   90071 non-null  int64
 17  number_of_persons_injured      90071 non-null  int64
 18  number_of_persons_killed       90067 non-null  float64
 19  off_street_name                11347 non-null  object
 20  on_street_name                 78436 non-null  object
 21  unique_key                     90071 non-null  int64
 22  vehicle_type_code1             85114 non-null  object
 23  vehicle_type_code2             3238 non-null   object
 24  vehicle_type_code_3            831 non-null    object
 25  vehicle_type_code_4            282 non-null    object
 26  vehicle_type_code_5            109 non-null    object
 27  zip_code                       72689 non-null  float64
dtypes: float64(4), int64(8), object(16)
memory usage: 19.2+ MB

In [5]:
#Looking at null values
# most of the contributing factor and vehicle code types are nulls.  We are going to drop all of these columns.
df.isna().sum()

borough                          17374
contributing_factor_vehicle_1     2590
contributing_factor_vehicle_2    86752
contributing_factor_vehicle_3    89238
contributing_factor_vehicle_4    89790
contributing_factor_vehicle_5    89961
cross_street_name                20793
timestamp                            0
latitude                          6807
longitude                         6807
location                          6807
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             4
off_street_name                  78724
on_street_name                   11635
unique_key                           0
vehicle_type_code1                4957
vehicle_type_code2               86833
vehicle_type_code_3              89240
vehicle_type_code_4              89789
vehicle_type_code_5              89962
zip_code                         17382
dtype: int64

In [6]:
#dropping columns
column_names = ['contributing_factor_vehicle_2', 
                'contributing_factor_vehicle_3', 
                'contributing_factor_vehicle_4', 
                'contributing_factor_vehicle_5', 
                'vehicle_type_code2', 
                'vehicle_type_code_3',  
                'vehicle_type_code_4',  
                'vehicle_type_code_5', 
                'off_street_name' ]
df.drop(columns = column_names, inplace = True, axis =1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90071 entries, 0 to 90070
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   borough                        72697 non-null  object
 1   contributing_factor_vehicle_1  87481 non-null  object
 2   cross_street_name              69278 non-null  object
 3   timestamp                      90071 non-null  object
 4   latitude                       83264 non-null  float64
 5   longitude                      83264 non-null  float64
 6   location                       83264 non-null  object
 7   number_of_cyclist_injured      90071 non-null  int64
 8   number_of_cyclist_killed       90071 non-null  int64
 9   number_of_motorist_injured     90071 non-null  int64
 10  number_of_motorist_killed      90071 non-null  int64
 11  number_of_pedestrians_injured  90071 non-null  int64
 12  number_of_pedestrians_killed   90071 non-null  int64
 13  number_of_persons_injured      90071 non-null  int64
 14  number_of_persons_killed       90067 non-null  float64
 15  on_street_name                 78436 non-null  object
 16  unique_key                     90071 non-null  int64
 17  vehicle_type_code1             85114 non-null  object
 18  zip_code                       72689 non-null  float64
dtypes: float64(4), int64(8), object(7)
memory usage: 13.1+ MB

In [8]:
df.isna().sum()

borough                          17374
contributing_factor_vehicle_1     2590
cross_street_name                20793
timestamp                            0
latitude                          6807
longitude                         6807
location                          6807
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             4
on_street_name                   11635
unique_key                           0
vehicle_type_code1                4957
zip_code                         17382
dtype: int64

In [9]:
#dropping all null values from the location to get rid of any rows with out long/lat coordinates. 
df = df.dropna(subset = ['location'])

In [10]:
df.isna().sum()

borough                          12123
contributing_factor_vehicle_1     2427
cross_street_name                19522
timestamp                            0
latitude                             0
longitude                            0
location                             0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             4
on_street_name                   10593
unique_key                           0
vehicle_type_code1                4685
zip_code                         12130
dtype: int64

In [11]:
#We eventually want to predict the contributing factor for the incident, 
#so looking at the different types of incidents and how often they occur.

df['contributing_factor_vehicle_1'].value_counts()

Unspecified                                              33191
Driver Inattention/Distraction                           16067
Failure to Yield Right-of-Way                            14887
Backing Unsafely                                          3468
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion     1947
Passenger Distraction                                     1315
View Obstructed/Limited                                   1177
Traffic Control Disregarded                                931
Other Vehicular                                            906
Glare                                                      759
Aggressive Driving/Road Rage                               717
Driver Inexperience                                        632
Unsafe Speed                                               613
Pavement Slippery                                          471
Alcohol Involvement                                        468
Turning Improperly                                         410
Passing Too Closely                                        371
Passing or Lane Usage Improper                             313
Prescription Medication                                    294
Physical Disability                                        268
Outside Car Distraction                                    217
Following Too Closely                                      150
Reaction to Uninvolved Vehicle                             144
Lost Consciousness                                         142
Oversized Vehicle                                          119
Fatigued/Drowsy                                            110
Other Electronic Device                                     96
Brakes Defective                                            89
Unsafe Lane Changing                                        88
Obstruction/Debris                                          65
Illness                                                     48
Driverless/Runaway Vehicle                                  47
Failure to Keep Right                                       31
Reaction to Other Uninvolved Vehicle                        28
Accelerator Defective                                       27
Drugs (Illegal)                                             25
Illnes                                                      24
Traffic Control Device Improper/Non-Working                 21
Drugs (illegal)                                             20
Fell Asleep                                                 19
Tire Failure/Inadequate                                     16
Tinted Windows                                              14
Lane Marking Improper/Inadequate                            12
Pavement Defective                                          11
Other Lighting Defects                                      10
Cell Phone (hand-Held)                                       9
Steering Failure                                             9
Cell Phone (hands-free)                                      8
Shoulders Defective/Improper                                 6
Windshield Inadequate                                        5
80                                                           4
Tow Hitch Defective                                          3
Headlights Defective                                         3
Animals Action                                               3
Vehicle Vandalism                                            3
Cell Phone (hand-held)                                       3
Texting                                                      2
Using On Board Navigation Device                             1
Name: contributing_factor_vehicle_1, dtype: int64

In [12]:
df.head(100)

,borough,contributing_factor_vehicle_1,cross_street_name,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,on_street_name,unique_key,vehicle_type_code1,zip_code
0,BRONX,Unspecified,EAST 156 STREET,1/16/2014 23:30,40.814934,-73.897645,"(40.8149337, -73.8976455)",0,0,2,0,1,0,3,0.0,SOUTHERN BOULEVARD,78403,PASSENGER VEHICLE,10455.0
1,BROOKLYN,Unspecified,CLASSON AVENUE,8/13/2013 6:50,40.694012,-73.961094,"(40.6940116, -73.9610935)",0,0,0,0,1,0,1,0.0,MYRTLE AVENUE,193101,PASSENGER VEHICLE,11205.0
2,BROOKLYN,Unspecified,VANDERBILT AVENUE,7/6/2013 21:25,40.689469,-73.969105,"(40.6894687, -73.9691048)",0,0,0,0,1,0,1,0.0,DE KALB AVENUE,192934,PASSENGER VEHICLE,11205.0
3,QUEENS,Driver Inattention/Distraction,NaN,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,1,0,1,0.0,NaN,4109774,Sedan,11692.0
4,MANHATTAN,Alcohol Involvement,7 AVENUE SOUTH,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,2,0,2,0.0,CHRISTOPHER STREET,10452,PASSENGER VEHICLE,10014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,BROOKLYN,Brakes Defective,NaN,3/5/2018 22:05,40.716286,-73.931200,"(40.716286, -73.9312)",0,0,0,0,1,0,1,0.0,NaN,3857066,Flat Bed,11211.0
104,BROOKLYN,Driver Inexperience,NaN,10/23/2019 19:23,40.715660,-73.958710,"(40.71566, -73.95871)",0,0,1,0,1,0,2,0.0,NaN,4228321,Sedan,11211.0
105,BROOKLYN,Driver Inattention/Distraction,BAY 37 STREET,3/18/2019 19:45,40.598800,-73.988660,"(40.5988, -73.98866)",0,0,0,0,1,0,1,0.0,86 STREET,4100142,Station Wagon/Sport Utility Vehicle,11214.0
106,BROOKLYN,Passing Too Closely,LINCOLN PLACE,4/5/2017 11:55,40.670746,-73.950424,"(40.670746, -73.950424)",0,0,1,0,2,0,3,0.0,NOSTRAND AVENUE,3646142,Sedan,11216.0
107,BROOKLYN,Unspecified,HERKIMER STREET,8/22/2014 13:36,40.679636,-73.949583,"(40.6796356, -73.9495828)",0,0,0,0,2,0,2,0.0,NOSTRAND AVENUE,1012292,SMALL COM VEH(4 TIRES),11216.0

In [13]:
df = df[df.contributing_factor_vehicle_1 !=  'Unspecified']

In [14]:
#This is one dirty data set.  
#Looking at all of the different types of unique values in each column so we can create a game plane for cleaning.

for col in df:
    print(df[col].unique())

['QUEENS' 'MANHATTAN' 'BRONX' 'BROOKLYN' nan 'STATEN ISLAND']
['Driver Inattention/Distraction' 'Alcohol Involvement'
 'Failure to Keep Right' 'Traffic Control Disregarded' 'Other Vehicular'
 'Physical Disability' 'Backing Unsafely' 'Failure to Yield Right-of-Way'
 'Driver Inexperience' 'Unsafe Lane Changing' 'Turning Improperly'
 'Brakes Defective' 'Aggressive Driving/Road Rage' 'Unsafe Speed'
 'Passing or Lane Usage Improper' 'Oversized Vehicle'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Tire Failure/Inadequate' 'Following Too Closely' 'Pavement Slippery'
 'Driverless/Runaway Vehicle' 'Lost Consciousness'
 'Prescription Medication' 'Illnes' 'View Obstructed/Limited'
 'Fell Asleep' 'Passing Too Closely' 'Reaction to Uninvolved Vehicle' nan
 'Glare' 'Obstruction/Debris' 'Passenger Distraction'
 'Reaction to Other Uninvolved Vehicle' 'Cell Phone (hand-Held)'
 'Traffic Control Device Improper/Non-Working' 'Outside Car Distraction'
 'Drugs (illegal)' 'Other Electronic Device' 'Accelerator Defective'
 'Fatigued/Drowsy' 'Illness' 'Tinted Windows' 'Other Lighting Defects'
 'Steering Failure' 'Pavement Defective'
 'Lane Marking Improper/Inadequate' 'Cell Phone (hand-held)'
 'Cell Phone (hands-free)' 'Drugs (Illegal)'
 'Shoulders Defective/Improper' 'Texting' 'Animals Action' '80'
 'Windshield Inadequate' 'Vehicle Vandalism'
 'Using On Board Navigation Device' 'Headlights Defective'
 'Tow Hitch Defective']
[nan '7 AVENUE SOUTH' '42 STREET' ... 'PENFIELD STREET' 'WEST 128 STREET'
 'DEEMS AVENUE']
['4/6/2019 9:50' '2/17/2013 0:20' '3/14/2016 13:00' ... '8/31/2019 20:15'
 '4/5/2021 12:40' '5/21/2019 16:41']
[40.592907  40.7336333 40.674     ... 40.881744  40.87647   40.873184 ]
[-73.79531   -74.0027856 -73.8721    ... -73.86166   -73.83704
 -73.85332  ]
['(40.592907, -73.79531)' '(40.7336333, -74.0027856)' '(40.674, -73.8721)'
 ... '(40.863106, -73.86166)' '(40.87647, -73.83704)'
 '(40.873184, -73.85332)']
[0 1 2]
[0 2]
[ 0  1  2 16  8  6  3  4  5 30  9 12 10  7 11]
[0 1 2]
[ 1  2  0  5  3  4  6  7 27 13  9]
[0 1 2 6]
[ 1  2  3 17  0  7 10  4  5  6 27 32 15 12  8  9]
[ 0.  1.  2. nan  8.  4.]
[nan 'CHRISTOPHER STREET' 'QUEENS BOULEVARD' ... 'CHRISTOPHER LANE'
 'ALBION PLACE' '32 PLACE']
[4109774   10452 3425418 ... 4200091 4404957 4140807]
['Sedan' 'PASSENGER VEHICLE' '4 dr sedan' 'UNKNOWN' 'TAXI' 'BUS' 'PK'
 'Station Wagon/Sport Utility Vehicle' 'OTHER' 'Tractor Truck Diesel'
 'SPORT UTILITY / STATION WAGON' 'Tractor Truck Gasoline' 'fire truck'
 'LIVERY VEHICLE' 'Van' 'Bus' 'Taxi' 'Dump' 'Pick-up Truck' 'Forkl'
 'Box Truck' 'Flat Bed' 'Lift Boom' nan 'Tow Truck / Wrecker' 'E-BIKE'
 'Bike' 'SCOOT' 'Motorscooter' 'Motorcycle' 'pick' 'VAN'
 'SMALL COM VEH(4 TIRES)' 'PICK-UP TRUCK' 'E-Bike' 'van'
 'Garbage or Refuse' 'Motorbike' 'TOW T' 'Concrete Mixer' 'SCOOTER'
 'LARGE COM VEH(6 OR MORE TIRES)' 'MOTORCYCLE' 'ELEC. UNIC' 'Convertible'
 'mta b' 'SCHOO' '2 dr sedan' 'Forklift' 'E-Scooter' 'Front-Load' 'E-Sco'
 'Ambulance' 'Refrigerated Van' 'Open Body' 'tow t' 'Armored Truck'
 'UNKNO' 'Moped' 'School Bus' 'DELIV' 'Stree' 'GRUMM' 'ELECT'
 'Beverage Truck' 'PICK-' 'AMBULANCE' 'MOTOR' 'Hopper' 'Minicycle' 'Scoot'
 'BICYCLE' 'LIMO' 'FORKL' 'ELECTRIC S' 'GOLF CART' 'FIRE' 'E-Bik' 'MTA B'
 'Power Shov' 'Snow Plow' 'Minibike' 'DELV' 'Flat Rack' 'dirt' 'Pedicab'
 'U-HAL' 'Carry All' 'Pick up tr' 'TRAILER' 'AMBUL' 'FIRE TRUCK'
 'Bulk Agriculture' 'MOPED' 'Multi-Wheeled Vehicle' 'Motor' 'jeep' 'GOLF'
 'SANMEN COU' 'PC' 'SCHOOL BUS' 'FORK' 'schoo' 'Tanker' '3-Door' 'bus'
 'stree' 'motor' 'Chassis Cab' 'scoot' 'Commercial' 'DIRT' 'dark color'
 'posta' 'BICYC' 'Ambul' 'Scooter' 'MINI' 'moped' 'COMME' 'E bik' 'UNKNW'
 'AMB' 'FORD' 'USPS' 'ICE C' 'REFG' 'USPS TRUCK' 'AMBU' 'white' 'SKATE'
 'pedicab' 'comme' 'forlift' 'tow' 'p/sh' 'mopad' 'sedan' 'forklift'
 'LIGHT TRAI' 'TRACT' 'E SCO' 'GATOR' 'backh' 'DELIVERY' 'Ebike' 'forkl'
 'Backhoe Lo' 'ELEC.' 'picku' 'suburban' 'DIRT BIKE' 'E BIK' 'ambul'
 'GARBAGE TR' 'golf' 'none' 'E-BIK' 'SCOO' 'UNK' 'FDNY AMBUL' 'Subr'
 'Tram' 'PAS' 'TRAC' 'subur' 'SPC' 'CONST' 'Pavin' 'U-Hau' 'elect' 'VAN/T'
 'dump' 'FDNY FIRE']
[11692. 10014. 11104. 10452. 10021. 10025. 11231. 11249. 11225. 10461.
 10026. 10473. 10009. 10028. 11361. 10459. 10474. 11412. 11375. 11209.
 11103. 11205. 10039. 10456. 10034. 11356. 10023. 10033. 11238. 10006.
 11691.    nan 10001. 10011. 10017. 10018. 10036. 11101. 11372. 11385.
 11201. 11203. 11204. 11206. 11208. 11211. 11214. 11216. 11217. 11218.
 11221. 10457. 10458. 11226. 11229. 11230. 11233. 11234. 11235. 11365.
 10005. 11423. 11421. 11369. 10454. 11239. 11378. 10470. 10122. 10107.
 10472. 11420. 10305. 11427. 10301. 11363. 11224. 11228. 10032. 11379.
 11370. 10453. 11102. 10304. 11419. 10024. 10463. 11357. 11418. 11109.
 10468. 11417. 10007. 10031. 11366. 11106. 11435. 10455. 10128. 10065.
 10027. 11237. 11364. 10465. 11232. 10010. 11416. 10037. 11222. 10030.
 11429. 10462. 11374. 11433. 10308. 11367. 10306. 10069. 11411. 10035.
 10038. 10475. 10012. 10040. 11436. 10075. 10312. 10004. 11004. 11360.
 11415. 11422. 10310. 10020. 11693. 11358. 10471. 11362. 11428. 11426.
 11414. 11105. 10000. 10168. 10314. 10309. 10165. 10307. 11694. 10464.
 10105. 10172. 10302. 10281. 10282. 11001. 10303. 11040. 10280. 10119.
 10169. 10121. 10153. 10112. 10278. 10123. 11697. 10178. 11430. 10170.
 10106. 10103. 11005. 10002. 10003. 10013. 10016. 10019. 10022. 10029.
 11354. 11355. 11368. 11373. 11377. 11413. 11432. 11434. 11207. 11210.
 11212. 11213. 11215. 10451. 11219. 11220. 11223. 10460. 10466. 10467.
 11236. 10469.]

In [15]:
df.on_street_name.nunique()

3175

In [ ]:
df.shape

In [16]:
df = df[df.latitude !=  0]
df = df[df.latitude !=  0]

In [17]:
df.shape

(50001, 19)

In [18]:
import geopy
from geopy.geocoders import Nominatim
geocoder = Nominatim(user_agent = 'ozbunae@gmail.com')

In [19]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.reverse, min_delay_seconds = 1)