In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('crash_rates.csv')
#adjusting settings so that we can see all of the cvolumns.
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Initial data inspection
df.head()

In [ ]:
#Looking at data types, most of which are objects
df.info()

In [ ]:
#Looking at null values
# most of the contributing factor and vehicle code types are nulls.  We are going to drop all of these columns.
df.isna().sum()

In [ ]:
#dropping columns
column_names = ['contributing_factor_vehicle_2', 
                'contributing_factor_vehicle_3', 
                'contributing_factor_vehicle_4', 
                'contributing_factor_vehicle_5', 
                'vehicle_type_code2', 
                'vehicle_type_code_3',  
                'vehicle_type_code_4',  
                'vehicle_type_code_5', 
                'off_street_name',
                'cross_street_name']
df.drop(columns = column_names, inplace = True, axis =1)

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
#dropping all null values from the location to get rid of any rows with out long/lat coordinates. 
df = df.dropna(subset = ['location'])
df = df.dropna(subset = ['number_of_persons_killed'])
df = df.dropna(subset = ['contributing_factor_vehicle_1'])
df = df.dropna(subset = ['vehicle_type_code1'])

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
#We eventually want to predict the contributing factor for the incident, 
#so looking at the different types of incidents and how often they occur.

df['contributing_factor_vehicle_1'].value_counts()

In [ ]:
df.head(100)

In [ ]:
df.shape

In [ ]:
#Removing any rows where the cause of the accident was Unspecified. 
df = df[df.contributing_factor_vehicle_1 !=  'Unspecified']

In [ ]:
#This is one dirty data set.  
#Looking at all of the different types of unique values in each column so we can create a game plane for cleaning.

for col in df:
    print(df[col].unique())

In [ ]:
df.on_street_name.nunique()

In [ ]:
df.shape

In [ ]:
#getting rid of any rows where the latitude or longitude was 0
df = df[df.latitude !=  0]
df = df[df.latitude !=  0]

In [ ]:
df.shape

In [ ]:
df.vehicle_type_code1.nunique()

In [ ]:
df['vehicle_type_code1'] = df['vehicle_type_code1'].str.lower()

In [ ]:
df.vehicle_type_code1.nunique()

In [ ]:
df['vehicle_type_code1'].value_counts()

In [ ]:
df = df[df.groupby('vehicle_type_code1').vehicle_type_code1.transform(len) > 1]

In [ ]:
df.vehicle_type_code1.nunique()

In [ ]:
df.vehicle_type_code1.unique()

In [ ]:
df['vehicle_type_code1'].value_counts()

In [ ]:
df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['scoot','scooter','e-sco','e-scooter'], 'scooters'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['schoo','school bus'], 'school buses'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['e-bik','e bik','dirt','dirtbike', 'dirt bike', 'electric bikes', 'e-bike'], 'electric bikes'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['fire truck', 'ambul', 'ambulance', 'amb', 'stree', 'garbage or refuse'], 'city vehicles'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['tractor truck diesel', 'tractor truck gasoline'], 'tractor trucks'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['moped', 'motorscooter', 'minicycle', 'motor', 'motorcycle', 'motorbike'], 'motorcycles'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['fork', 'forkl', 'fork l', 'forklift', 'dump', 'tow truck / wrecker', 'concrete mixer', 'tanker', 'comme', 'flat rack'], 'construction vehicles'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['deliv','delv','usps','livery vehicle', 'beverage truck', 'refrigerated van'], 'delivery vehicles'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['sedan','4 dr sedan','2 dr sedan','3-door'], 'sedans'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['bike', 'bicycle', 'minibike'], 'bicycles'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['open body','carry all','golf'], 'open frame'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['pk','station wagon/sport utility vehicle','sport utility / station wagon'], 'SUV'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['pick-up truck', 'flat bed', 'chassis cab'], 'civilian truck'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['bus','mta b'], 'city buses'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['unknown','unkno','other'], 'unspecified'))

df['vehicle_type_code1'] = df.vehicle_type_code1.replace(
                               dict.fromkeys(['box truck','small com veh(4 tires)','large com veh(6 or more tires)','multi-wheeled vehicle', 'armored truck'], 'large commercial trucks'))

In [ ]:
df['vehicle_type_code1'].value_counts()

In [ ]:
df.vehicle_type_code1.nunique()

In [ ]:
df.to_csv('data/clean_vehicle_type.csv', index= False)

### Merge 2 cleaned DataFrames

In [21]:
df = pd.read_csv('data/clean_vehicle_type.csv')

In [22]:
df2 = pd.read_csv('data/cleaned.csv')

In [23]:
df2.head(15)

,borough,contributing_factor_vehicle_1,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,on_street_name,unique_key,vehicle_type_code1,geometry,zipcode
0,Queens,Driver Inattention/Distraction,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,1,0,1,0.0,BEACH CHANNEL DRIVE,4109774,Sedan,POINT (-73.79531 40.592907),11692
1,Manhattan,Alcohol Involvement,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,2,0,2,0.0,CHRISTOPHER STREET,10452,PASSENGER VEHICLE,POINT (-74.0027856 40.7336333),10014
2,Queens,Failure to Keep Right,3/14/2016 13:00,40.674000,-73.872100,"(40.674, -73.8721)",0,0,0,0,1,0,1,0.0,QUEENS BOULEVARD,3425418,4 dr sedan,POINT (-73.8721 40.674),11104
3,Bronx,Traffic Control Disregarded,1/1/2014 9:30,40.842464,-73.924135,"(40.8424645, -73.9241348)",0,0,1,0,2,0,3,0.0,OGDEN AVENUE,88175,UNKNOWN,POINT (-73.9241348 40.8424645),10452
4,Manhattan,Other Vehicular,3/12/2015 10:00,40.771783,-73.965435,"(40.7717829, -73.9654346)",0,0,0,0,1,0,1,0.0,EAST 72 STREET,3184765,TAXI,POINT (-73.96543459999999 40.7717829),10021
5,Manhattan,Driver Inattention/Distraction,7/25/2017 0:00,40.798560,-73.963370,"(40.79856, -73.96337)",0,0,1,0,1,0,2,0.0,COLUMBUS AVENUE,3718901,Sedan,POINT (-73.96337 40.79856),10025
6,Brooklyn,Physical Disability,10/22/2014 17:50,40.674222,-74.011179,"(40.6742224, -74.0111793)",0,0,2,0,1,0,3,0.0,DWIGHT STREET,2812620,BUS,POINT (-74.01117929999999 40.6742224),11231
7,Brooklyn,Backing Unsafely,10/2/2017 8:54,40.711980,-73.968030,"(40.71198, -73.96803)",0,0,0,0,1,0,1,0.0,KENT AVENUE,3770541,PK,POINT (-73.96803 40.71198),11249
8,Manhattan,Failure to Yield Right-of-Way,6/11/2014 7:40,40.767813,-73.962014,"(40.7678129, -73.9620143)",0,0,0,0,1,0,1,0.0,3 AVENUE,349716,TAXI,POINT (-73.96201429999999 40.7678129),10021
9,Brooklyn,Driver Inattention/Distraction,7/7/2020 18:01,40.659225,-73.953390,"(40.659225, -73.95339)",0,0,1,0,1,0,2,0.0,ROGERS AVENUE,4326465,Station Wagon/Sport Utility Vehicle,POINT (-73.95339 40.659225),11225
10,Bronx,Driver Inexperience,10/21/2017 11:05,40.850166,-73.844925,"(40.850166, -73.844925)",0,0,0,0,1,0,1,0.0,SACKETT AVENUE,3773689,Station Wagon/Sport Utility Vehicle,POINT (-73.844925 40.850166),10461
11,Bronx,Unsafe Lane Changing,6/26/2017 13:00,40.840225,-73.917690,"(40.840225, -73.91769)",0,0,0,0,1,0,1,0.0,JEROME AVENUE,3700054,Sedan,POINT (-73.91769000000001 40.840225),10452
12,Manhattan,Turning Improperly,4/5/2021 19:42,40.800972,-73.947174,"(40.800972, -73.947174)",0,0,1,0,1,0,2,0.0,WEST 116TH STREET,4407771,Station Wagon/Sport Utility Vehicle,POINT (-73.947174 40.800972),10026
13,Bronx,Other Vehicular,3/19/2017 23:08,40.819016,-73.848040,"(40.819016, -73.84804)",0,0,1,0,1,0,2,0.0,CASTLE HILL AVENUE,3635352,Sedan,POINT (-73.84804 40.819016),10473
14,Manhattan,Failure to Yield Right-of-Way,3/10/2015 15:15,40.729432,-73.978027,"(40.7294318, -73.978027)",0,0,0,0,1,0,1,0.0,EAST 14 STREET,3183499,OTHER,POINT (-73.978027 40.7294318),10009

In [25]:
# limit df to only the columns we want to merge and key column to join them on
df2 = df2[['borough', 'unique_key', 'on_street_name', 'zipcode']]

In [26]:
df2

         borough  unique_key       on_street_name  zipcode
0         Queens     4109774  BEACH CHANNEL DRIVE    11692
1      Manhattan       10452   CHRISTOPHER STREET    10014
2         Queens     3425418     QUEENS BOULEVARD    11104
3          Bronx       88175         OGDEN AVENUE    10452
4      Manhattan     3184765       EAST 72 STREET    10021
...          ...         ...                  ...      ...
45265      Bronx     3460412      EAST 219 STREET    10469
45266      Bronx     3954948      EAST 219 STREET    10469
45267      Bronx     4200091     BRONXWOOD AVENUE    10469
45268      Bronx     4404957    EAST 222ND STREET    10469
45269      Bronx     4140807   EAST GUN HILL ROAD    10469

[45270 rows x 4 columns]

In [30]:
# merge both dataframes to get clean data on one file
merged_df = pd.merge(left= df, 
                     right= df2, 
                     how= 'inner', 
                     left_on= 'unique_key', 
                     right_on= 'unique_key', suffixes= ('', '_y'))

In [31]:
merged_df.head()

,borough,contributing_factor_vehicle_1,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,...,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,on_street_name,unique_key,vehicle_type_code1,zip_code,borough_y,on_street_name_y,zipcode
0,QUEENS,Driver Inattention/Distraction,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,...,0,1,0.0,NaN,4109774,sedans,11692.0,Queens,BEACH CHANNEL DRIVE,11692
1,MANHATTAN,Alcohol Involvement,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,...,0,2,0.0,CHRISTOPHER STREET,10452,passenger vehicle,10014.0,Manhattan,CHRISTOPHER STREET,10014
2,QUEENS,Failure to Keep Right,3/14/2016 13:00,40.674000,-73.872100,"(40.674, -73.8721)",0,0,0,0,...,0,1,0.0,QUEENS BOULEVARD,3425418,sedans,11104.0,Queens,QUEENS BOULEVARD,11104
3,BRONX,Traffic Control Disregarded,1/1/2014 9:30,40.842464,-73.924135,"(40.8424645, -73.9241348)",0,0,1,0,...,0,3,0.0,OGDEN AVENUE,88175,unspecified,10452.0,Bronx,OGDEN AVENUE,10452
4,MANHATTAN,Other Vehicular,3/12/2015 10:00,40.771783,-73.965435,"(40.7717829, -73.9654346)",0,0,0,0,...,0,1,0.0,EAST 72 STREET,3184765,taxi,10021.0,Manhattan,EAST 72 STREET,10021

In [32]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45208 entries, 0 to 45207
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   borough                        37356 non-null  object
 1   contributing_factor_vehicle_1  45208 non-null  object
 2   timestamp                      45208 non-null  object
 3   latitude                       45208 non-null  float64
 4   longitude                      45208 non-null  float64
 5   location                       45208 non-null  object
 6   number_of_cyclist_injured      45208 non-null  int64
 7   number_of_cyclist_killed       45208 non-null  int64
 8   number_of_motorist_injured     45208 non-null  int64
 9   number_of_motorist_killed      45208 non-null  int64
 10  number_of_pedestrians_injured  45208 non-null  int64
 11  number_of_pedestrians_killed   45208 non-null  int64
 12  number_of_persons_injured      45208 non-null  int64
 13  number_of_persons_killed       45208 non-null  float64
 14  on_street_name                 39317 non-null  object
 15  unique_key                     45208 non-null  int64
 16  vehicle_type_code1             45208 non-null  object
 17  zip_code                       37349 non-null  float64
 18  borough_y                      45208 non-null  object
 19  on_street_name_y               45208 non-null  object
 20  zipcode                        45208 non-null  int64
dtypes: float64(4), int64(9), object(8)
memory usage: 7.6+ MB

In [33]:
# drop uncleaned columns
merged_df.drop(['borough', 'on_street_name', 'zip_code'], axis= 1, inplace= True)

In [34]:
# remove _y from column names to keep those columns with cleaned data
column_names = {'borough_y': 'borough', 'on_street_name_y': 'on_street_name'}
merged_df.rename(columns= column_names, inplace= True)

In [35]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45208 entries, 0 to 45207
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   contributing_factor_vehicle_1  45208 non-null  object
 1   timestamp                      45208 non-null  object
 2   latitude                       45208 non-null  float64
 3   longitude                      45208 non-null  float64
 4   location                       45208 non-null  object
 5   number_of_cyclist_injured      45208 non-null  int64
 6   number_of_cyclist_killed       45208 non-null  int64
 7   number_of_motorist_injured     45208 non-null  int64
 8   number_of_motorist_killed      45208 non-null  int64
 9   number_of_pedestrians_injured  45208 non-null  int64
 10  number_of_pedestrians_killed   45208 non-null  int64
 11  number_of_persons_injured      45208 non-null  int64
 12  number_of_persons_killed       45208 non-null  float64
 13  unique_key                     45208 non-null  int64
 14  vehicle_type_code1             45208 non-null  object
 15  borough                        45208 non-null  object
 16  on_street_name                 45208 non-null  object
 17  zipcode                        45208 non-null  int64
dtypes: float64(3), int64(9), object(6)
memory usage: 6.6+ MB

In [36]:
# save to csv
merged_df.to_csv('data/final_cleaned.csv', index= False)

In [ ]:
df.to_csv('geopy_df.csv', index= False)

In [ ]:
import geopy
from geopy.geocoders import Nominatim
geocoder = Nominatim(user_agent = 'ozbunae@gmail.com')

In [ ]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.reverse, min_delay_seconds = 1)